@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');");

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 30px;
}

.estiloParrafoIndex{
    font-size: 25px;
    padding: 2rem;
}

.navbar nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li{
    margin: 20px;
    list-style: none !important;   
    
}

a{   
    text-decoration: none !important;
    color: black;
}

h2{
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

h3{
    padding: 10px;
    font-size: 35px;
}


/* estilos del carrito */

#carrito{
    padding: 10px;
    font-size: 20px;
}

#checkout-btn{
    font-size: 25px;
}

.estiloCarrito{
    font-size: 25px;
}

.botonCompra{
    margin-left: 150px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#8c540c ;
    font-size: 18px;
}

.botonQuitar{
    font-size: 18px;
    background-color: rgba(235, 101, 101, 0.877);
    margin: 10px;
    padding: 8px;
    color: rgb(97, 17, 17);
}


/* estilos de los productos  */


.caja{
    height:auto;
    width: 400px;
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    background-color:#DEB887;
    text-align: center;
    border: 3px solid #8c540c;
}

.boton{
    font-size: 15px;
    background-color: bisque;
    margin-top: 20px;
    height:auto;
    width:100px;
    padding: 8px;    
}

#cards-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* FOOTER */

#footer{
    background-color:#DEB887;
    font-size: 18px;
    text-align: center;
    background-size: contain;
    padding: 20px;
}